.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
_build
doc/stylesheet.css
doc/erlang.png
doc/edoc-info
doc/*.html
doc/*.md
bench/tests
bench/deps
erlang_ls.config

/rebar3
