%% -*- mode: erlang -*-
%% pooler app config example
[
 {pooler, [
           {pools, [
                    [{name, pool1},
                     {max_count, 5},
                     {init_count, 2},
                     {start_mfa,
                      {pooled_gs, start_link, [{"p1"}]}}],
                    
                    [{name, pool2},
                     {max_count, 5},
                     {init_count, 2},
                     {start_mfa,
                      {pooled_gs, start_link, [{"p2"}]}}]
                   ]}
           %% if you want to enable metrics, set this to a module with
           %% an API conformant to the folsom_metrics module.
           %% If this config is missing, then no metrics are sent.
           %% {metrics_module, folsom_metrics}
          ]}
].
