%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Type spec dict() is deprecated in R17 to be removed in R18 in
%% preference for dict:dict(). But the fix is not compatible with <=
%% R16.
{erl_opts, [nowarn_deprecated_type]}.
{cover_enabled, true}.
