%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

%% Type spec dict() is deprecated in R17 to be removed in R18 in
%% preference for dict:dict(). But the fix is not compatible with <=
%% R16.
%% Compiler Options ============================================================
{erl_opts,
    [{platform_define, "^[0-9]+", namespaced_types},
     debug_info,
     warnings_as_errors,
     inline]}.

%% EUnit =======================================================================
{eunit_opts,
 [{report, {eunit_surefire, [{dir, "."}]}}]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
