{mode, max}.

{duration, 4}.

{concurrent, 5}.

{driver, pooler_driver}.

{key_generator, {function, pooler_driver, pool_name, []}}.

{value_generator, {fixed_bin, 10000}}.

% {operations, [{simple, 1}, {fast, 4}, {slow, 1}]}.
{operations, [{simple, 1}]}.

{code_paths, ["ebin", "deps/pooler/ebin"]}.
