%% -*- mode: erlang -*-
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{deps,
 [
  {pooler, ".*",
   {git, "git://github.com/seth/pooler.git", {branch, "pooler-1-0"}}},

  {basho_bench, ".*",
   {git, "git://github.com/basho/basho_bench.git", {branch, "master"}}}
 ]}.

{cover_enabled, true}.
